{% comment %} 
<section>
    <form action="{% url 'interviews:favorite' interview.id %}" method="POST">
        {% csrf_token %}

        {% if user in interview.favorited_by.all %}
            <button class="btn   btn-neutral flex items-center gap-2">
                <div>已按讚</div>
            </button>
        {% else %}

            <button class="btn  btn-ghost flex items-center gap-2">
                <span>按讚</span>

            </button>
        {% endif %}
    </form>
</section> {% endcomment %}


{% if user in interview.favorited_by.all %}
    <button  hx-post='{% url 'interviews:favorite' interview.id %}' hx-swap="outerHTML" class="btn   btn-neutral flex items-center gap-2">
        <div>已按讚</div>
    </button>
{% else %}

    <button hx-post='{% url 'interviews:favorite' interview.id %}' hx-swap="outerHTML" class="btn  btn-ghost flex items-center gap-2">
        <span>按讚</span>
        {% comment %} <svg class="size-[1.5em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor">
            <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>
        </g>
        </svg> {% endcomment %}
    </button>
{% endif %}