{%  extends "layouts/default.html" %}

{% block 'main' %}


<h1>面試資料 {{   interview.id  }}</h1>
<a href="{% url 'interviews:index' %}"> 回面試列表 </a>

<section>
    <form action="{% url 'interviews:favorite' interview.id %}" method="POST">
        {% csrf_token %}
        <button class="btn  btn-square btn-ghost flex items-center gap-2">
            <span>按讚</span>
            {% comment %} <svg class="size-[1.5em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor">
                <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>
              </g>
            </svg> {% endcomment %}
        </button>
    </form>

    <h1>面試公司：{{ interview.company_name}}</h1>
    <h2>面試職位：{{ interview.position}}</h2>
    <h3>面試評價：{{  interview.rating}}  /  10</h3>
    <h4>面試心得：{{ interview.review }} </h4>
</section>

<a href="{% url 'interviews:edit' interview.id %}" class="btn btn-neutral mx-3 my-3">編輯</a>
{% comment %} <a href="{% url '' interview.id %}">刪除</a>   這樣不行！ {% endcomment %}

<form action="{% url 'interviews:delete' interview.id %}" method="post" onsubmit="return confirm('是否確認刪除?')">
    {% csrf_token %}
    <button class="btn btn-neutral mx-3 my-3">刪除</button>
</form>



<hr />
<h2>留言：</h2>

<ul>
    {% for comment in comments  %}
    <li>
        {{ comment.content }}
    </li>
    {% endfor %}


</ul>


<form action="{% url 'interviews:comment' interview.id %}" method="POST">
    {% csrf_token %}
    <textarea name="content" id=""></textarea>
    <div>
        <input type="submit" value="新增留言到 {{ interview.company_name }} " class="btn btn-neutral">
    </div>

</form>

{% endblock  %}











<form action="{% url 'interviews:comment' interviews.id %}" method="POST">
    {% csrf_token %}
    <textarea name="content" id=""></textarea>
    <button>新增留言</button>

</form>