{%  extends "layouts/default.html" %}

{% block 'main' %}


<h1>面試資料 {{   interview.id  }}</h1>
<a href="{% url 'interviews:index' %}"> 回面試列表 </a>
    {% include "interviews/favorite.html" with user=user interview=interview %}

    <h1>面試公司：{{ interview.company_name}}</h1>
    <h2>面試職位：{{ interview.position}}</h2>
    <h3>面試評價：{{  interview.rating}}  /  10</h3>
    <h4>面試心得：{{ interview.review }} </h4>
</section>

<a href="{% url 'interviews:edit' interview.id %}" class="btn btn-neutral mx-3 my-3">編輯</a>
{% comment %} <a href="{% url '' interview.id %}">刪除</a>   這樣不行！ {% endcomment %}

<form action="{% url 'interviews:delete' interview.id %}" method="post" onsubmit="return confirm('是否確認刪除?')">
    {% csrf_token %}
    <button class="btn btn-neutral mx-3 my-3">刪除</button>
</form>



<hr />
<h2>留言：</h2>

<ul class="card-body">
    {% for comment in comments  %}
    <li class="card-title">
        <div>
            <h5> {{ comment.user }}    : {{ comment.content }}   </h5>
            <p> 留言時間：  {{ comment.created_at }}   </p>  
        </div>
    </li>
    {% endfor %}


</ul>


<form action="{% url 'interviews:comment' interview.id %}" method="POST">
    {% csrf_token %}
    <textarea name="content" id=""></textarea>
    <div>
        <input type="submit" value="新增留言到 {{ interview.company_name }} " class="btn btn-neutral">
    </div>

</form>

{% endblock  %}











<form action="{% url 'interviews:comment' interviews.id %}" method="POST">
    {% csrf_token %}
    <textarea name="content" id=""></textarea>
    <button>新增留言</button>

</form>